body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 20vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
    height: 100px;
}
.form-group button {
    width: 10vw;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #218838;
}

.success-message {
    display: none;
}

 .show{
    display: block;
    text-align: center;
    color: #28a745;
    font-weight: bold;
}
